<h1>Show My Listing</h1>

<ul> 
	<li> Listing Name: <%= @listing.name %> </li> 
	<li> Description: <%= @listing.description %> </li>  
	<li> Price: <%= humanized_money_with_symbol @listing.price_cents %> </li> 

	<% if @listing.listing_images != nil %> 
		<% @listing.listing_images.each do |images| %> 
				<img src= "<%= images.bigthumb.url %>" >		
		<% end %>		
	<% end %>		 
</ul>

<%= form_tag new_listing_reservation_path(@listing.id), method: :get do %>
    <input type="submit" value="Request to book?">
<% end %>

<br/>

<% if current_user == @listing.user %>
	<%= button_to "Edit", edit_listing_path, method: :get %>
	<%= button_to "Delete", listing_path, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>


