<h3> Make Your Reservation </h3>

<strong> <%= @listing.name %> </strong> <br/> 
<%= @listing.description %> <br/>

<%= form_for @reservation, url: listing_reservations_path, method: :post do |form| %>

<div class="date-field">
  <%= form.label :arriving_date %>
  <%= form.date_field :arriving_date %>
</div>

<div class="date-field">
  <%= form.label :leaving_date %>
  <%= form.date_field :leaving_date %>
</div>

<div class="text-field">
  <%= form.label :remarks %> <br/> 
  <%= form.text_area :remarks %>
</div>

</br> 

<div class="submit-field">
  <%= form.submit "Preview Reservation" %>
</div>

<% end %>	


