<html>
<head>
</head>
<body> 
<div class="container">  
  <h3> All your reservations </h3>                                        
  <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Listing Name</th>
      <th>Listing ID</th>
      <th>Arriving Date</th>
      <th>Leaving Date</th>
      <th>Number of nights</th>
      <th>Price per night (RM)</th>
      <th>Total Price (RM)</th>
      <th>Remarks </th> 
      <th>Payment Status </th>
    </tr>
    </tr>
  </thead>

  <tbody>
      <tr>
        <% @your_reservations.each do |r| %>
        <td><%= r.listing.name %></td>
        <td><%= r.listing_id %></td>
        <td><%= r.arriving_date %></td>
        <td><%= r.leaving_date %></td>
        <td><%= (r.leaving_date - r.arriving_date).to_i %></td>
        <td><%= humanized_money_with_symbol r.listing.price_cents %></td>
        <td><%= humanized_money_with_symbol (r.listing.price_cents * (r.leaving_date - r.arriving_date).to_i) %> </td>
        <td><%= r.remarks %> <%= link_to 'Edit', edit_listing_reservation_path(listing_id: r.listing_id, id: r.id) %> </td>
        <td><%= r.payment_status.upcase %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>
</body>
</html>


