<!-- <!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
         <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "sign_in", sign_in_path %></li>
            <li><%= link_to "sign_up", sign_up_path %></li>
            <li><%= link_to "sign_out", sign_out_path, method: :delete %></li>
          </ul>
        </nav>
      </div>
    </header> -->


    <div id="flash">
      <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
    </div>

    <div i="container">
      <%= yield %>
    </div>

  </body>
</html>